html,
body {
    height: 100% !important;
}

.nav-link.active {
    background: white;
    color: black !important;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}